#navbar {
  //border: 1px solid red;
  padding-top: 15px;
  padding-left: 20px;
  .menu-btn {
    font-size: 1.6em;
    cursor: pointer;
  }

  .sidebar {
    overflow-x: hidden;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: #111;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 2;
    p {
      margin-left: 30px;
    }
  }
}

@media only screen and (min-width: 700px) {
  #navbar {
    padding-top: 25px;
    padding-left: 30px;
    .menu-btn {
      font-size: 1.8em;
    }
  }
}
