#landing-page-v2 {
  height: 92vh;
  .who-i-am {
    margin-top: 40%;
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .typing-demo {
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid;
      font-family: monospace;
      font-size: 1em;
    }

    .length-one {
      width: 26ch;
      animation: typing 2s steps(26), blink 0.5s step-end infinite alternate;
    }
    .length-two {
      width: 27ch;
      animation: typing 2s steps(27), blink 0.5s step-end infinite alternate;
    }

    .none-border {
      border: transparent;
    }
  }

  .logo-image {
    width: 250px;
    height: 400px;
    position: absolute;
    right: 0px;
    bottom: 100px;
    transition: all 1s linear;
    overflow: hidden;

    img {
      width: 400px;
    }
  }

  .links-section {
    @extend %flex-column-center;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    font-size: 0.8em;

    .links-container {
      a {
        text-decoration: none;
        margin-right: 35px;
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0);
        padding-bottom: 2px;
        &:last-child {
          margin-right: 0px;
        }
        &:hover {
          border-bottom: 1px solid black;
        }
      }
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media only screen and (min-width: 580px) {
  #landing-page-v2 {
    // .logo-image {
    //   width: 400px;
    // }
    .links-section {
      font-size: 1em;
    }
  }
}

@media only screen and (min-width: 900px) {
  #landing-page-v2 {
    .who-i-am {
      font-size: 2em;
      margin-top: 10%;
    }
    // .logo-image {
    //   width: 500px;
    //   height: auto;
    //   img {
    //     width: 100%;
    //   }
    // }
  }
}

@media only screen and (min-width: 1200px) {
  #landing-page-v2 {
    // .logo-image {
    //   width: 600px;
    //   right: 100px;
    // }
  }
}
