.logoImage {
  width: 250px;
  height: 250px;
  opacity: 0.6;
  position: absolute;
  right: 0px;
  top: 5%;
  transition: all 1s linear;
}

.whoAmI {
  width: 80%;
  margin-left: 5%;
  max-width: 600px;
  transition: all 1s linear;
  position: absolute;
  bottom: 20%;
}

@media only screen and (min-width: 700px) {
  .logoImage {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (min-width: 700px) and (min-height: 1000px) {
  .logoImage {
    width: 500px;
    height: 500px;
    top: 10%;
  }
}

@media only screen and (min-width: 800px) {
  .logoImage {
    width: 500px;
    height: 500px;
  }

  .whoAmI {
    font-size: 1.3em;
    bottom: 25%;
  }
}

@media only screen and (min-width: 1080px) {
  .logoImage {
    width: 600px;
    height: 600px;
  }
}

@media only screen and (min-width: 1200px) {
  .logoImage {
    width: 700px;
    height: 700px;
  }

  .whoAmI {
    max-width: 700px;
  }
}
