@import './baseColors';
@import '../styles/classes';
@import '../components/navbar/navbar';
@import './components/landingPage';
@import './components/aboutMe';
@import './components/mySkills';
@import './components/aboutThisPage';
@import './components/footer';

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', 'Work Sans', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  font-size: 20px;
  color: white;
}

b {
  color: $primaryBold;
}

a {
  color: white;
}

.break-line {
  @extend %break-line;
  margin-bottom: 30px;
}

.title-section {
  @extend %title;
}
